
body{
	margin:0px;
	padding:0px;
	background-color:#FFF;
}

.main_layout{
	width:960px;
	height:2000px;
	background-color:#FF0000;
	margin:0px auto;
}
.top_header{
	width:960px;
	height:80px;
	background-color:#c2c2c2;
	float:left;
}
.logo{
	width:250px;
	height:80px;
	float:left;
}
.logo img{
	margin:10px;
	padding:10px;
}

.mbl{
	width:710px;
	height:80px;

	float:right
}
.mbl p{

	float:right;
	font-weight:bold;
	color:#FFF;
	padding-right:20px;
	line-height:40px;
}


.menu{
	width:960px;
	height:40px;
	background-color:#1a7a1b;
	float:left;
	
}
.menu ul{
	margin:0px;
	padding:0px;
}
.menu li{
	display:inline;
}
.menu a{
	width:148px;
	height:36px;
	background-color:#000;
	text-decoration:none;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	padding:2px 5px; 
	line-height:38px;
	float:left;
	color:#FA1899;
	border:1px solid #FF0000;
	
}
.menu a:hover{
	background-color:#FF0000;
	color:#fcf50e;
	border:1px solid #120850;
	
}
.banner{
	width:960px;
	height:300px;
	background-color:#cccccc;
	float:left;
}
.banner img{
	width:960px;
	height:300px;
	float:left;
}
.our_company{
	width:960px;
	height:200px;
	background-color:#FA1899;
	float:left;
}
.our_company h1{
	color:#FFF;
	text-align:center;
	font-size:25px;
	padding:15px 5px 0px 5px;
}
.our_company p{
	color:#FFF;
	text-align:justify;
	font-size:18px;
	padding:0px 25px;
}
.Our_services{
	width:960px;
	height:200px;
	background-color:#f0f0f0;
	float:left;
}

.Our_services h2{
	color:#FF0000;
	text-align:center;
	font-size:25px;
	padding:15px 5px 0px 5px;
}
.Our_services p{
	color:#000;
	text-align:justify;
	font-size:18px;
	padding:0px 25px;
}
.services_item{
	width:960px;
	height:300px;
	background-color:#FFF;
	float:left;
}
.services_item1{
	width:282px;
	height:250px;
	background-color:#FFF;
	float:left;
	border:2px solid #000;
	padding:10px;
	margin-right:10px;
}
.services_item1 img{
	width:50px;
	height:50px;
	padding-left:125px;
	padding-top:10px;

}
.services_item1 h1{
	text-align:center;
	color:blue;
}
.services_item1 p{
	text-align:justify;
	color:red;
	font-size:18px;
}
.services_item2{
	width:282px;
	height:250px;
	background-color:#FFF;
	float:left;
	border:2px solid #000;
	padding:10px;
	margin:0px 10px;
}
.services_item2 img{
	width:50px;
	height:50px;
	padding-left:125px;
	padding-top:10px;

}
.services_item2 h1{
	text-align:center;
	color:blue;
}
.services_item2 p{
	text-align:justify;
	color:red;
	font-size:18px;
}

.services_item3{
	width:284px;
	height:250px;
	background-color:#FFF;
	float:left;
	border:2px solid #000;
	padding:10px;
	margin-left:10px;
}
.services_item3 img{
	width:50px;
	height:50px;
	padding-left:125px;
	padding-top:10px;

}
.services_item3 h1{
	text-align:center;
	color:blue;
}
.services_item3 p{
	text-align:justify;
	color:red;
	font-size:18px;
}


.our_features{
	width:940px;
	height:300px;
	background-color:#f0f0f0;
	float:left;
	margin:10px;

	
}
.features_img img{
	width:460px;
	height:280px;
	float:left;

}
.features_text{
	width:440px;
	height:280px;
	float:left;
	padding:10px;

}
.services_news_ac{
	width:960px;
	height:350px;
	background-color:blue;
	float:left;
}
.services{
	width:300px;
	height:350px;
	float:left;
}
.news{
	width:300px;
	height:350px;
	float:left;
}
.news_item{
	width:250px;
	height:30px;
	float:left;
	border:2px solid #000;
}
.ac{
	width:300px;
	height:350px;
	float:left;
}
.about_us{
	width:960px;
	height:300px;
	background-color:red;
	float:left;
}
.aboutus_text{
	width:480px;
	height:300px;
	float:left;
}
.aboutus_img img{
	width:480px;
	height:300px;
	float:left;
}

.signup_login_form{
	width:960px;
	height:400px;
	float:left;
	background-color:#e6e6e6;
	
}
.signup_form{
	width:440px;
	height:400px;
	float:left;
	background-color:#a0ace8;
	padding:20px;
	
}
.login_form{
	width:440px;
	height:400px;
	float:left;
	background-color:#a0ace8;
	padding:20px;
	
}




.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #FF0000;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;

}

.input-field:focus {
  border: 2px solid #FF0000;
}


.btn {
  background-color: #FF0000;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size:18px;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}



















.footer_up{
	width:960px;
	height:300px;
	background-color:#000;
	float:left;
}
.contact{
	width:230px;
	height:300px;
	float:left;
	color:#FFF;
}
.quick_links{
	width:230px;
	height:300px;
	float:left;
	color:#FFF;
}
.latest_posts{
	width:230px;
	height:300px;
	float:left;
	color:#FFF;
}
.recent_news{
	width:230px;
	height:300px;
	float:left;
	color:#FFF;
}
.footer{
	width:960px;
	height:50px;
	background-color:#999999;
	float:left;
	color:#FFF;
}